@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.animate-spotlight {
  animation: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translate(-40%, -20%) scale(1);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e2e2e2;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d;
}

.scrollHide::-webkit-scrollbar {
  display: none;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #1D4ED8;
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn)
  }
}

/* wave hand animation */
@keyframes wave {
  0% {
    transform: rotate(0deg);
    /* Shuru mein seedha */
  }

  10% {
    transform: rotate(-5deg);
  }

  20% {
    transform: rotate(5deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  60%,
  100% {
    transform: rotate(0deg);
  }
}

.hand-wave-animate {
  animation-name: wave;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
/* wave hand animation */

/* skill cards animation */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scrollLeft var(--animation-duration) linear infinite;
}
/* skill cards animation */

/* Target navigation buttons */
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #1e40af;
  top: 50%;
  transform: translateY(-50%);
}
/* Arrows style */
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #1e40af;
  top: 50%;
  transform: translateY(-50%);
}

/* Dots style */
.mySwiper .swiper-pagination {
  bottom: 10px;
}

/* Mobile: hide arrows, show dots */
@media (max-width: 768px) {
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {
    display: none;
  }
  .mySwiper .swiper-pagination {
    display: block;
      position: relative; 
    margin-top: 5px; 
  }
}

/* Desktop: show arrows, hide dots */
@media (min-width: 769px) {
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {
    display: block;
  }
  .mySwiper .swiper-pagination {
    display: none;
  }
}

.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn {
  background: linear-gradient(80deg, rgba(0, 34, 168, 1) 0%, rgba(0, 142, 255, 1) 100%);
}

.btn:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.containerHeader {
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.contactBg {
  background-color: rgb(252, 252, 252);
}

@media(max-width:1024px) {
  .servicesCardDiv {
    flex-direction: column;
    gap: 15px;
    margin-top: 7%;
  }
}

@media(max-width:640px) {
  .aboutDesc {
    width: 65vw;
  }
}

@media(max-width:430px) {
  .aboutDesc {
    width: 80vw;
  }

  .servicesCardDiv {
    margin-top: 10%;
  }

  .serviceCard {
    margin-bottom: 3%;
  }
}

@media(max-width:400px) {
  .aboutDesc {
    width: 83vw;
  }
}

@media(max-width:380px) {
  .aboutDesc {
    width: 86vw;
  }
}